name: Flutter CI/CD

on:
  push:
    branches:
      - main # Thay đổi nhánh theo dự án của bạn

jobs:
  build_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: 3.13.6 # Phiên bản Flutter bạn đang sử dụng

    - name: Install dependencies
      run: flutter pub get

    - name: Run tests
      run: flutter run
